.toolbar {
    position:sticky;
    background-color: darkgreen;
    font-weight: bold;
    border-radius: 5px;
    width:150px;
    height: 100px;
    border-width:1px;
    border-color: greenyellow;

}
/*
.toolbar :hover{
    visibility: visible;
}
